{% comment %}
  Page template: The Library of Principles
  Displays the principle library section with historical quotes on free speech
{% endcomment %}

{% render 'brand-root' %}

<div class="page-width">
  {% section 'principle-library' %}
</div>
{% comment %} Principle page – brand reinforcement {% endcomment %}
{% render 'brand-root' %}